/* frontend/src/components/HistroyBar.css */

.history-bar-container {
    width: 280px;
    flex-shrink: 0;
    background-color: #1b2625; /* Darker background for history bar */
    color: #e0e0e0; /* Light text color */
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid #3a3a3a;
}

.history-bar-header {
    padding: 16px;
    background-color: #1b2625; /* Slightly lighter header */
    border-bottom: 1px solid #3A4C49;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-bar-title {
    font-weight: bold;
}

.new-chat-button {
    margin: 16px;
    background-color: #61A366 !important; /* Green for new chat button */
    color: white !important;
    font-weight: bold;
    border-radius: 8px !important;
}

.new-chat-button:hover {
    background-color: #43a047 !important; /* Darker green on hover */
}

.history-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 16px;
}

.history-list-item {
    margin-bottom: 8px;
    border-radius: 8px;
}

.history-list-item:hover {
    background-color: #2e2e2e; /* Darker on hover */
}

.history-list-item-button {
    text-align: left;
    color: #e0e0e0 !important;
    padding: 12px 16px;
    font-size: 0.9rem;
    width: 100%;
    justify-content: flex-start;
    border-radius: 8px !important;
}

.history-list-item-button.Mui-selected {
    background-color: #3a3a3a !important; /* Selected item background */
    color: #4caf50 !important; /* Green text for selected item */
}

.history-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.history-bar-footer {
    padding: 16px;
    border-top: 1px solid #50625a;
    background-color: #1b2625;
}

.logout-button {
    background-color: #dc3545 !important; /* Red for logout button */
    color: white !important;
    font-weight: bold;
    border-radius: 8px !important;
}

.logout-button:hover {
    background-color: #c82333 !important; /* Darker red on hover */
}

.refresh-button{
    color: #4caf50;
}